/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* color palette from DTT style guides */
:root {
  --dtt-c-primary: #eb5440;
  --dtt-c-secondary: #4a4b4c;
  --dtt-c-tertiary-1: #e8e8e8;
  --dtt-c-tertiary-2: #c3c3c3;
  --dtt-c-background-1: #f6f6f6;
  --dtt-c-background-2: #ffffff;
  --dtt-c-text-primary: #000000;
  --dtt-c-text-secondary: #4a4b4c;
  --dtt-c-text-hyperlink: #067bc2;
}

/* semantic color variables for this project */
/* :root {
  --color-background: var(--dtt-c-background-1);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--dtt-c-text-primary);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Montserrat';
  font-size: 15px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--dtt-c-text-primary);
  background-color: var(--dtt-c-background-1);
  /* transition:
    color 0.5s,
    background-color 0.5s; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Header styles */
h1, h2 {
  font-family: 'Montserrat';
  color: var(--dtt-c-text-primary);
  margin: 20px 0 10px;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 10px;
}

h2 {
  font-size: 22px;
  font-weight: semi-bold;
  padding-bottom: 8px;
}

p {
  font-family: "Open Sans";
  color: var(--dtt-c-text-secondary);
}



/* additional */
a {
  text-decoration: none;
  background-color: transparent;
  color:var(--dtt-c-tertiary-2);
}

button {
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #EB5440;
  background-color: #EB5440;
  color: white;
  padding: 0.05rem 1rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
}

nav {
  padding: 30px;
  margin: 0 10rem;
}

nav a {
  font-size: 22px;
  font-weight: bold;
  padding: 0 1.5rem;
  color: var(--dtt-c-tertiary-2);
}

nav a.router-link-exact-active {
  font-size: 22px;
  color: var(--dtt-c-text-primary);
  font-weight: bold;
}
