/* ------------------------ */
/* color palette from DTT style guides */
/* ------------------------ */
:root {
  --dtt-c-primary: #eb5440;
  --dtt-c-secondary: #4a4b4c;
  --dtt-c-tertiary-1: #e8e8e8;
  --dtt-c-tertiary-2: #c3c3c3;
  --dtt-c-background-1: #f6f6f6;
  --dtt-c-background-2: #ffffff;
  --dtt-c-text-primary: #000000;
  --dtt-c-text-secondary: #4a4b4c;
  --dtt-c-text-hyperlink: #067bc2;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--dtt-c-text-primary);
  background-color: var(--dtt-c-background-1);
  font-size: 18px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ------------------------ */
/* COMPONENT STYLES */
/* ------------------------ */

/* HEADER */
h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  color: var(--dtt-c-text-primary);
  font-weight: 700;
}

h1 {
  font-size: 32px;
  /* padding-bottom: 10px; */
  margin: 20px 0 10px;
  letter-spacing: -1px;
}

h2 {
  font-size: 22px;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 16px;
}

p {
  color: var(--dtt-c-text-secondary);
  line-height: 1.5;
  letter-spacing: 0.3px;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: var(--dtt-c-tertiary-2);
}

button,
.btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid var(--dtt-c-primary);
  background-color: var(--dtt-c-primary);
  color: var(--dtt-c-background-2);
  padding: 0.05rem 1rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.back-btn {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  padding: 2rem 0 0 0;
  margin-bottom: 1.5rem;
  color: var(--dtt-c-text-primary);
  border: none;
  background-color: var(--dtt-c-background-3);
  box-shadow: none;
}

.container {
  margin: 0 auto;
  width: 1000px;
}

label {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
}

input {
  font-size: 14px;
  font-weight: 600;
}

input::placeholder {
  position: absolute;
  left: 14px;
}
